.bash_history
.gitconfig
.idlerc/
.ipython/
.lesshst
.matplotlib/
.node_repl_history
.ssh/
.viminfo
.vscode/
3D Objects/
AppData/
Biblioteca de calibre deleted*/
Contacts/
Cookies/
Datos de programa/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
MicrosoftEdgeBackups/
Mis documentos/
Music/
NTUSER.DAT*
OneDrive/
PaceKeyChain
Pictures/
Reciente/
Saved Games/
Searches/
SendTo/
Videos/
"Configuración local/"
Figure_1.png
"Menú Inicio/"
ntuser.ini
Configuración local/
Menú Inicio/
